
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body{
    background: radial-gradient(#FF1200,  #FFC600); 
}
   
       .navbar{
           background: linear-gradient(100deg,red 20%,yellow 100%);
       font-size: 20px;
       padding: 0px !important;

       }
       .logo img{
        
           width: auto;
       }

       .menu-icon{
        margin-top: 10px;
    
        font-size: 25px;
    
    }

    .nav-item{
        margin-right: 10px;
        padding-left: 20px;
        padding-right: 20px;

    }
       .nav-item a{
           color: black ;
           font-weight: 500;

   
       }
       .nav-item:hover{
        background-color: black;
        border-radius: 25px;
        transition-duration: 0.5s;
        }
        .nav-item:hover a{
            
            color: white !important;
    
        }


.boxes{
    margin: 0 auto;
    margin-top: 30px;

    
}

.inner-imge{
    text-align: center;
}
.inner-img img{
    border-radius: 5px !important;
margin-top: 20px !important;
transition: all 0.25s linear ;

}
.inner-img img:hover {
    opacity: 0.8;
    /* box-shadow: 1px 2px 5px gray; */
box-shadow: 1px 1px 1px black;
}
.box-1{
    text-align: center;
    transition: all 1s linear;
    color: white;
    background-color: rgba(0, 0, 0, 0.315);
    /* margin-left: 50px; */
    
}
.box-1 button{
    border: none;
    background-color: rgb(0, 255, 157);
    font-size: 20px;
    width: 130px;
    height: 50px;
    transition: all 0.5s linear;
    border-radius: 4px;


}
.box-1 button a{
    transition: all 0.5s linear;

    font-family: 'Cinzel', serif;
}
.box-1 button:hover{
background-color: rgb(37, 37, 94);
    border-radius: 20px;
}
.box-1 button:hover a{
    color: red;
}

.box-1 button a{
    text-decoration: none !important;

}
.box-1 h2 ,h4,h5,h6{
    margin-top: 40px;

}
.box-1 h2{
    margin-bottom: 20px;
}
.box-1 h4{
    margin-bottom: 20px;
}
.box-1 h5 {
    margin-bottom: 20px;
}
.box-1 h6{
    margin-bottom: 20px;
}
.box-1:hover{
border-radius: 20px;
background-color: rgb(0, 0, 0);

}

.boxes img{
    width: 100%;
    border-radius: 20px;
    /* margin-top: 0px; */
    
    
}
.main-image { 
    transition: all 0.5s linear;
}
.main-image:hover {
    border: 6px outset  #ED8F7F;
    filter: drop-shadow(2px 2px 5px black);
}
.rupee{
    color: gold;
    animation: infinite cubic-bezier(0.455, 0.03, 0.515, 0.955);
    font-size: 30px;


}
.rupee::first-letter{
    font-size: 50px;
}
.free-delivery{
    color: deepskyblue;
}
.product-name{
    color: white;
}
.product-detail{
    color: lightyellow;
}
.info{
    color: white;
margin-top: 100px;
margin-bottom: 50px;
background-color: rgba(250, 215, 60, 0.26);
padding-bottom: 20px;
}
.info h1{
    text-align: center;
    line-height: 100px;
    font-size: 50px;
    color: black;
    
}
.info h5{
text-align: center;
line-height: 30px;
font-size: 20px;
padding-bottom: 20px;
font-family: 'Playfair Display', serif;

}


.discount h1{
    text-align: center;
        color: rgb(247, 243, 7);
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Cinzel', serif;
    
    }
    .hotel-img img{
        width: 80%;
        margin-bottom: 25px;
        border-radius: 15px;
       position: relative;
        left: 50%;
        transform: translate(-50%); 
        opacity: 0.9;
    }
    




.footer{
    color: white;
    background-color: rgb(59, 57, 57);
    padding-top: 10px;
    padding-bottom: 1px;
    line-height: 15px;
    
}







@media only screen and (max-width: 1000px){

    .navbar{
        font-size: 20px;
         }
        .nav-item:hover{
         border-radius: 0px;
         width: 100%;
        }
        .nav-link{
            text-align: center !important;
        }


}



@media only screen and (max-width: 500px){

    .navbar{
   font-size: 17px;
    }
   .nav-item:hover{
    border-radius: 0px;
    width: 100%;
   }
   .nav-link{
       text-align: center !important;
   }

   .product-name{
       font-size: 25px;
   }
   .box-1 h5{
       font-size: 15px;
   }
.rupee{
    font-size: 20px;

}
.rupee::first-letter{
    font-size: 30px;
}
.product-detail{
    font-size: 15px;
}
.box-1 button {
    font-size: 14px;
    width: 93px;
    height: 36px;
    border-radius: 4px;
}

.info {
    color: white;
    margin-top: 30px;
    margin-bottom: 26px;
}
.info h1{
    margin: -14px;
    line-height: 50px;

    font-size: 30px;
}
.info h5{
    font-size:16px ;
    line-height: 22px;

}
.box-1:hover{
    border-radius: 0px;
}
.discount h1{
    font-size: 15px;
    margin-bottom: 10px;

} 
.hotel-img img{
    width: 90%;
    border-radius: 5px;
    margin-bottom: 15px;
}
.footer p{
    margin-left: 0px !important;
    font-size:11px;
    padding-top: 3px;
    line-height: normal;
}

}










